Source: ruby-attr-required
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Balasankar C <balasankarc@autistici.org>
Build-Depends: debhelper (>= 7.0.50~), gem2deb, rake, ruby-rspec
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-ruby-extras/ruby-attr-required.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-ruby-extras/ruby-attr-required.git;a=summary
Homepage: http://github.com/nov/attr_required
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: ruby-attr-required
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter, ${misc:Depends}, ${shlibs:Depends}
Description: Provide attr_required and attr_optional
 REQUIRED and OPTIONAL are common terminology in RFCs, and used for protocol
 parameters. This gem helps RFC library developers to define which parameters
 (attributes in Ruby world) are REQUIRED and which are OPTIONAL.
